* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

.game-board {
  background: url("../imagens/mario-background-chao.png") repeat-x bottom;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  position: relative;
  overflow-x: hidden;
}

.pipe {
  position: absolute;
  bottom: 100px;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
  z-index: 1;
}

.clouds {
  width: 550px;
  position: absolute;
  animation: clouds-animation 15s infinite linear;
  margin-top: 100px;
}

.mario {
  width: 120px;
  position: absolute;
  bottom: 100px;
  left: 5px;
  transition: 0.2s;
}

.mario.pular {
  animation: mario-pular 0.5s ease-out;
  left: 15px;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes mario-pular {
  0% {
    bottom: 110px;
  }

  40% {
    bottom: 280px;
  }

  50% {
    bottom: 280px;
  }

  60% {
    bottom: 280px;
  }

  100% {
    bottom: 110px;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }

  to {
    right: 100%;
  }
}

@media (max-height: 620px) {
  .clouds {
    margin-top: 0px;
    width: 350px;
  }
}
@media (max-width: 1200px) {
  .pipe {
    width: 40px;
  }

  .mario {
    width: 60px;
  }

  @keyframes mario-pular {
    0% {
      bottom: 110px;
    }

    40% {
      bottom: 200px;
    }

    50% {
      bottom: 200px;
    }

    60% {
      bottom: 200px;
    }

    100% {
      bottom: 110px;
    }
  }
}

@media (max-width: 900px) {
  .game-board {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .pipe {
    width: 30px;
  }

  .mario {
    width: 50px;
  }

  @keyframes mario-pular {
    0% {
      bottom: 110px;
    }

    40% {
      bottom: 180px;
    }

    50% {
      bottom: 180px;
    }

    60% {
      bottom: 180px;
    }

    100% {
      bottom: 110px;
    }
  }
}
